.titleArea {
  text-align: center;
}
.title {
  margin: 0 8px;
}

.ms-DetailsHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 36px;
  z-index: 9999;
}

.ms-DetailsList {
  padding-top: 36px;  
}

.vstack {  
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column;
  margin: -4px 0;
}

.vstack > * {
  margin: 4px 0;
}

.thumb {
  margin: -10px 0;
}

.mybutton.refresh {
  vertical-align: middle;
}

.reddit {
  font-weight: inherit;
}

.inlineSpinner {
  display: inline-block;
  margin: 0 6px;
  vertical-align: middle;
}

.loadingSpinner {
  margin: 20px 0;
}

.itemMetadata span {
  display: inline-block;
  padding-top: 5px;  
  padding-right: 10px;
}

.itemMetadata i {
  vertical-align: middle;
}

.extra {
  margin: 5px 45px;
  
  padding: 10px;
  border: 1px solid #eaeaea;
}