/*
const columns = [{ 
    key: "name", 
    name: "Name", 
    fieldName: "name", 
    minWidth: 20, 
    maxWidth: 300,
    isResizable: true  
  }];
//*/
const columns = [
    {% for key, value in schema.properties %}
    {
      key: {{ format(key) }},
      name: {{"'" if value }}{{value.title if (value.title) else key}}{{"'" if value }},
      fieldName: {{ format(key) }},
      maxWidth: 100,
      isResizable: true
    }{{"," if not loop.last }}
    {% endfor %}
]

export default columns;