/*
[
    {
      header: {
        label: 'First Name',
        formatters: [headerFormat]},
        cell: { formatters: [cellFormat] },
        property: 'first_name'
      },
    {header: {label: 'Last Name',formatters: [headerFormat]},cell: {formatters: [cellFormat]},property: 'last_name'},
    {header: {label: 'Username',formatters: [headerFormat]},cell: {formatters: [cellFormat]},property: 'username'},
    …
  ]
//*/
const columns = [
    {% for key, value in schema.properties %}
    { header : 
      {
        displayName: {{"'" if value }}{{value.title if (value.title) else key}}{{"'" if value }},
        attribute: {{ format(key) }},
        sortable: true
      }
    }{{"," if not loop.last }}
    {% endfor %}
]

export default columns;