const columns = [
{% for name, schema in columnData.schemas %}
    {% for key, value in schema.properties %}
    {
      "headerName": {{'"' if value }}{{value.title if (value.title) else key}}{{'"' if value }},
      "colId": {{ format(key) }},
      "field": {{ format(key) }}
    }{{"," if not loop.last }}
    {% endfor %}
{% endfor %}
]

export default columns;